.bunch-cards__total-text {
  margin-top: 10px;
  display: inline-flex;
}

.bunch-cards__pagination {
  margin: 20px;
  margin-top: 10px;
  display: inline-flex;
}

.bunch-cards__select-pagination {
  background-color: #282c34;
  color: white;
}

.css-1hxrwmy-MuiButtonBase-root-MuiPaginationItem-root {
  color: white !important;
}

Pagination {
  color: white !important;
}

.bunch-cards__linear-progress {
  width: 50%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}