.card {
	display: inline-block;
	margin: 5px 20px 5px;
	border-radius: 5px;
	transition-property: height, width, border-radius, transform;
	transition-duration: 0.8s;
}

.card:hover {
  cursor: pointer;
	border-radius: 50%;
	transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  -webkit-transform:rotate(360deg);
}

.card:hover > .card-image {
	border-radius: 50%;
	transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  -webkit-transform:rotate(360deg);
}

.card:hover > .name-label {
	text-indent: 100%;
	opacity: 0;
}

.card-image {
	height: 250px;
	width: 250px;
	border-radius: 5px;
	transition-property: height, width, border-radius, transform;
	transition-duration: 0.8s;
}

.name-label {
	height: 34px;
	width: 250px;
	padding-top: 10px;
	margin-top: -45px;
	opacity: 0.7;
	background-color: black;
	color: white;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	font-family: Verdana, sans-serif;
  white-space: nowrap;
	overflow: hidden;
  text-overflow: ellipsis;
	transition-property: opacity, text-indent;
	transition-duration: 0.8s;
}

.text-name {
	margin: 0;
	padding: 0;
}

.tooltip {
	font-family: Verdana, sans-serif;
	text-align: justify;
	text-justify: inter-word;
}