.search-button {
  margin-left: 1% !important;
  margin-top: 0px;
  display: inline-flex;
}

.search-text-field {
  background-color: whitesmoke;
  border-radius: 4px;
  display: flex;
  margin-top: 10px !important;
  padding: 0;
}

.select-item-kind {
	background-color: whitesmoke;
  border-radius: 4px;
  height: 40px;
  margin: 0;
  padding: 0;
}