body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.index__any-element--remove-display-center {
  display: flex !important;
}

.css-1hfyor7-MuiPaginationItem-root {
  color: white !important; 
}

.css-1hxrwmy-MuiButtonBase-root-MuiPaginationItem-root {
  color: white !important;
}

.index__top-button {
  position: fixed !important;
  all: unset; 
  right: 0px;
  bottom: 15px;
  transform: scale(1.8);
  opacity: 0;
  transition: .4s;
}

.index__horizontal-scroll {
  overflow: auto;
  white-space: nowrap;
}
